@{
    ViewData["Title"] = "Stats";
}

<h1>Stats</h1>

<h2>@Model.Username</h2>
<h2>@Model.KillDeath</h2>
<h2>@Model.creationDate</h2>
<h2>@Model.favoriteWeapon</h2>
<h2>@Model.hoursPlayed</h2>
<h2>@Model.powerLevel</h2>

